.dayElement {
    width: max-content;
    height: max-content;
    display:inline-grid;
}

.dayGrid {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.topCalendar {
    width: max-content;
    height: max-content;
    margin: auto;
}
.bottomCalendar {
    /*border: 1px solid gray;*/
    height: fit-content;
}


.hour {
    display: flex;
    position: relative;
    height:75px;
    width: 35px;
}
.hourText {
    width: max-content;
    position: absolute;
    bottom: -8px;
}

.leftHours {
    width:fit-content;
}
.rightHours {
    display: flex;
}

.dayContainer {
    border-left: 1px solid gray;
    height: fit-content;
}

.hourContainer {
    border-top: 1px solid gray;
    height: 75px;
}

.part{
    position: relative;
    background: red;
}


.frontHourHolder {
    position:absolute;
    top: 17px;
    bottom: 0;
    left: 35px;
    pointer-events: none;
}
