.dayElement {
    width: max-content;
    height: max-content;
    display:inline-grid;
}

.dayGrid {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.topCalendar {
    width: max-content;
    height: max-content;
    margin: auto;
}
.bottomCalendar {
    border: 1px solid gray;
}


.hour {
    display: flex;
}
.hourText {
    width: max-content;
    margin:auto;
}

.hourDisplay {
    height: 75px;
}
